<div class="page">
    <%= image_tag "index.jpg", height: 500, class: "image" %>

    <div class="content">
        <h1>Procore Trades Renovator</h1>

        <p>
            The power of <a href="https://support.procore.com/product-releases/new-releases/bidding-bid-management-enhanced-experience">Bidding Enhanced Experience</a> require bidders to have trades defined with a little help from you this will make adding that information easier.
        </p>

        <p>
            Confirm you have admin access to customer's company before proceeding.
        </p>
        
        <%= link_to 'Login', "auth/procore", method: :get, class: "button" %>
    </div>
</div>